* {
  margin: 0;
  padding: 0;
}

.formulary {
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 3px;
  width: 43%;
  margin: 40px auto;
  padding: 50px;
  color: rgb(45, 5, 3);
}

.settings label {
  background-color: rgb(250, 23, 250);
  border: 1px solid black;
  border-radius: 3px;
  width: 9%;
  display: inline-block;
  padding: 10px;
  color: rgb(45, 5, 3);
}
input {
  border: 1px solid blue;
  border-radius: 4px;
  padding: 2px;
}

#west,
#bruxo,
#terror {
  margin-left: 10px;
}

#text {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 4px;
}

.travel {
  margin-bottom: 10px;
}
.send {
  border: 1px solid blue;
  display: inline-block;
  width: 30%;
  border-radius: 2px;
  padding: 4px;
}
