h1,
p,
li {
  text-align: center;
}
li:active {
  font-size: 18px;
}
ol li:hover {
  background-color: black;
  color: antiquewhite;
}
ul li:active {
  font-family: "Press Start 2P";
}

ol,
ul {
  list-style: none;
}
