ol li:nth-last-child(even) {
  background-color: yellow;
  color: green;
}
ol li:nth-of-type(odd) {
  background-color: yellow;
  text-transform: uppercase;
}
h1,
h3 {
  color: red;
}
h1 em,
h2 em {
  font-size: 40px;
  border: 1px solid black;
}
li {
  font-size: 20px;
}
li em {
  font-weight: 800;
}
.font {
  color: blue;
}
.color {
  background-color: pink;
}
.bonus1:hover {
  font-weight: bold;
  color: orange;
}
.bonus2:hover {
  font-weight: bold;
  color: green;
}
.bonus3:hover {
  font-weight: bold;
  color: black;
}
.bonus4:hover {
  font-weight: bold;
  color: yellow;
}
.bonus5:hover {
  font-weight: bold;
  color: green;
}
